<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://code.alibabatech.com/schema/dubbo 
		http://code.alibabatech.com/schema/dubbo/dubbo.xsd
		http://www.springframework.org/schema/beans  
		http://www.springframework.org/schema/beans/spring-beans.xsd 
		http://www.springframework.org/schema/context 
	 	http://www.springframework.org/schema/context/spring-context-4.1.xsd">

	<dubbo:reference  id="cTestService"
					interface="cn.com.carry.tenants.api.auto.CTestService"
					version="${dubbo.interface.version}"/>


	<dubbo:reference  id="cOriginDataPageUrlService"
					interface="cn.com.carry.tenants.api.auto.COriginDataPageUrlService"
					version="${dubbo.interface.version}"/>

	<dubbo:reference  id="cOriginDataService"
					interface="cn.com.carry.tenants.api.auto.COriginDataService"
					version="${dubbo.interface.version}"/>

	<dubbo:reference  id="cUserService"
					interface="cn.com.carry.tenants.api.auto.CUserService"
					version="${dubbo.interface.version}"/>

	<dubbo:reference  id="crawlerService"
					interface="cn.com.carry.tenants.api.common.CrawlerService"
					version="${dubbo.interface.version}"/>

	<dubbo:reference  id="cFinalDataService"
					interface="cn.com.carry.tenants.api.auto.CFinalDataService"
					version="${dubbo.interface.version}"/>

	<dubbo:reference  id="cOriginExcelDataService"
					interface="cn.com.carry.tenants.api.auto.COriginExcelDataService"
					version="${dubbo.interface.version}"/>

	<dubbo:reference  id="cOriginFileDataService"
					interface="cn.com.carry.tenants.api.auto.COriginFileDataService"
					version="${dubbo.interface.version}"/>

</beans>
