<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.youplus.tenants.dao.auto.UpTenantsRegionMapper">
<!-- 开启二级缓存 --><!-- 开启二级缓存 --><!-- 开启二级缓存 --><!-- 开启二级缓存 --><!-- 开启二级缓存 -->
	<!-- 开启二级缓存 -->
	<cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="cn.com.youplus.model.auto.entity.tenants.UpTenantsRegion">
		<id column="id" property="id" />
		<result column="tenants_company_id" property="tenantsCompanyId" />
		<result column="name" property="name" />
		<result column="description" property="description" />
		<result column="parent_id" property="parentId" />
		<result column="level" property="level" />
		<result column="quick_tag" property="quickTag" />
		<result column="is_store" property="isStore" />
		<result column="region_code" property="regionCode" />
		<result column="province" property="province" />
		<result column="city" property="city" />
		<result column="district" property="district" />
		<result column="address" property="address" />
		<result column="logic_delete" property="logicDelete" />
		<result column="version" property="version" />
		<result column="update_time" property="updateTime" />
		<result column="add_time" property="addTime" />
		<result column="region_num" property="regionNum" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, tenants_company_id AS tenantsCompanyId, name, description, parent_id AS parentId, level, quick_tag AS quickTag, is_store AS isStore, region_code AS regionCode, province, city, district, address, logic_delete AS logicDelete, version, update_time AS updateTime, add_time AS addTime, region_num AS regionNum
    </sql>

</mapper>
