<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.youplus.apps.dao.auto.UpAppsAnswerSheetMapper">
<!-- 开启二级缓存 --><!-- 开启二级缓存 --><!-- 开启二级缓存 --><!-- 开启二级缓存 --><!-- 开启二级缓存 -->
	<!-- 开启二级缓存 -->
	<cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="cn.com.youplus.model.auto.entity.apps.UpAppsAnswerSheet">
		<id column="id" property="id" />
		<result column="user_id" property="userId" />
		<result column="tenants_company_id" property="tenantsCompanyId" />
		<result column="tenants_region_id" property="tenantsRegionId" />
		<result column="questionnaire_id" property="questionnaireId" />
		<result column="is_auto_submit" property="isAutoSubmit" />
		<result column="start_time" property="startTime" />
		<result column="is_finished" property="isFinished" />
		<result column="finish_time" property="finishTime" />
		<result column="finish_question_num" property="finishQuestionNum" />
		<result column="finish_required_question_num" property="finishRequiredQuestionNum" />
		<result column="finish_precentage" property="finishPrecentage" />
		<result column="is_need_service" property="isNeedService" />
		<result column="service_record_json" property="serviceRecordJson" />
		<result column="answer_sheet_json" property="answerSheetJson" />
		<result column="user_source" property="userSource" />
		<result column="quick_tag" property="quickTag" />
		<result column="is_dangerous" property="isDangerous" />
		<result column="is_sloved" property="isSloved" />
		<result column="is_commented" property="isCommented" />
		<result column="service_type" property="serviceType" />
		<result column="openid" property="openid" />
		<result column="order_sn" property="orderSn" />
		<result column="cookies" property="cookies" />
		<result column="ip" property="ip" />
		<result column="version" property="version" />
		<result column="logic_delete" property="logicDelete" />
		<result column="add_time" property="addTime" />
		<result column="update_time" property="updateTime" />
		<result column="phone_num" property="phoneNum" />
		<result column="entrance" property="entrance" />
		<result column="broswer" property="broswer" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id AS userId, tenants_company_id AS tenantsCompanyId, tenants_region_id AS tenantsRegionId, questionnaire_id AS questionnaireId, is_auto_submit AS isAutoSubmit, start_time AS startTime, is_finished AS isFinished, finish_time AS finishTime, finish_question_num AS finishQuestionNum, finish_required_question_num AS finishRequiredQuestionNum, finish_precentage AS finishPrecentage, is_need_service AS isNeedService, service_record_json AS serviceRecordJson, answer_sheet_json AS answerSheetJson, user_source AS userSource, quick_tag AS quickTag, is_dangerous AS isDangerous, is_sloved AS isSloved, is_commented AS isCommented, service_type AS serviceType, openid, order_sn AS orderSn, cookies, ip, version, logic_delete AS logicDelete, add_time AS addTime, update_time AS updateTime, phone_num AS phoneNum, entrance, broswer
    </sql>

</mapper>
