<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.youplus.apps.dao.auto.UpAppsQuestionMapper">
<!-- 开启二级缓存 --><!-- 开启二级缓存 --><!-- 开启二级缓存 --><!-- 开启二级缓存 --><!-- 开启二级缓存 -->
	<!-- 开启二级缓存 -->
	<cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="cn.com.youplus.model.auto.entity.apps.UpAppsQuestion">
		<id column="id" property="id" />
		<result column="questionnaire_id" property="questionnaireId" />
		<result column="title" property="title" />
		<result column="sub_title" property="subTitle" />
		<result column="description" property="description" />
		<result column="question_type" property="questionType" />
		<result column="is_required" property="isRequired" />
		<result column="options_num" property="optionsNum" />
		<result column="question_json" property="questionJson" />
		<result column="question_order" property="questionOrder" />
		<result column="is_visible" property="isVisible" />
		<result column="qucik_tag" property="qucikTag" />
		<result column="good_score" property="goodScore" />
		<result column="bad_score" property="badScore" />
		<result column="is_nps" property="isNps" />
		<result column="score_dimenssion" property="scoreDimenssion" />
		<result column="is_score" property="isScore" />
		<result column="version" property="version" />
		<result column="logic_delete" property="logicDelete" />
		<result column="add_time" property="addTime" />
		<result column="update_time" property="updateTime" />
		<result column="display_rule" property="displayRule" />
		<result column="unique_key" property="uniqueKey" />
		<result column="is_random_sort" property="isRandomSort" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, questionnaire_id AS questionnaireId, title, sub_title AS subTitle, description, question_type AS questionType, is_required AS isRequired, options_num AS optionsNum, question_json AS questionJson, question_order AS questionOrder, is_visible AS isVisible, qucik_tag AS qucikTag, good_score AS goodScore, bad_score AS badScore, is_nps AS isNps, score_dimenssion AS scoreDimenssion, is_score AS isScore, version, logic_delete AS logicDelete, add_time AS addTime, update_time AS updateTime, display_rule AS displayRule, unique_key AS uniqueKey, is_random_sort AS isRandomSort
    </sql>

</mapper>
