<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.youplus.apps.dao.auto.UpAppsQuestionnaireMapper">
<!-- 开启二级缓存 --><!-- 开启二级缓存 --><!-- 开启二级缓存 --><!-- 开启二级缓存 --><!-- 开启二级缓存 -->
	<!-- 开启二级缓存 -->
	<cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="cn.com.youplus.model.auto.entity.apps.UpAppsQuestionnaire">
		<id column="id" property="id" />
		<result column="tenants_company_id" property="tenantsCompanyId" />
		<result column="project_name" property="projectName" />
		<result column="title" property="title" />
		<result column="sub_title" property="subTitle" />
		<result column="description" property="description" />
		<result column="questionnaire_type" property="questionnaireType" />
		<result column="question_num" property="questionNum" />
		<result column="required_option_num" property="requiredOptionNum" />
		<result column="theme_id" property="themeId" />
		<result column="sort" property="sort" />
		<result column="questionnaire_json" property="questionnaireJson" />
		<result column="quick_tag" property="quickTag" />
		<result column="site_name" property="siteName" />
		<result column="start_time" property="startTime" />
		<result column="expired_time" property="expiredTime" />
		<result column="status" property="status" />
		<result column="is_default" property="isDefault" />
		<result column="period_json" property="periodJson" />
		<result column="nps_json" property="npsJson" />
		<result column="service_type_json" property="serviceTypeJson" />
		<result column="link_setting_code" property="linkSettingCode" />
		<result column="weixin_setting_code" property="weixinSettingCode" />
		<result column="version" property="version" />
		<result column="logic_delete" property="logicDelete" />
		<result column="update_time" property="updateTime" />
		<result column="add_time" property="addTime" />
		<result column="day_limit" property="dayLimit" />
		<result column="delete_time" property="deleteTime" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, tenants_company_id AS tenantsCompanyId, project_name AS projectName, title, sub_title AS subTitle, description, questionnaire_type AS questionnaireType, question_num AS questionNum, required_option_num AS requiredOptionNum, theme_id AS themeId, sort, questionnaire_json AS questionnaireJson, quick_tag AS quickTag, site_name AS siteName, start_time AS startTime, expired_time AS expiredTime, status, is_default AS isDefault, period_json AS periodJson, nps_json AS npsJson, service_type_json AS serviceTypeJson, link_setting_code AS linkSettingCode, weixin_setting_code AS weixinSettingCode, version, logic_delete AS logicDelete, update_time AS updateTime, add_time AS addTime, day_limit AS dayLimit, delete_time AS deleteTime
    </sql>

</mapper>
