<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.youplus.apps.dao.auto.UpAppsQuestionItemMapper">
<!-- 开启二级缓存 --><!-- 开启二级缓存 --><!-- 开启二级缓存 --><!-- 开启二级缓存 --><!-- 开启二级缓存 -->
	<!-- 开启二级缓存 -->
	<cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="cn.com.youplus.model.auto.entity.apps.UpAppsQuestionItem">
		<id column="id" property="id" />
		<result column="questionnaire_id" property="questionnaireId" />
		<result column="question_id" property="questionId" />
		<result column="question_item_type" property="questionItemType" />
		<result column="key" property="key" />
		<result column="value" property="value" />
		<result column="display" property="display" />
		<result column="placeholder" property="placeholder" />
		<result column="row" property="row" />
		<result column="column" property="column" />
		<result column="is_show_editor" property="isShowEditor" />
		<result column="editor_placeholder" property="editorPlaceholder" />
		<result column="show_question_id" property="showQuestionId" />
		<result column="sort" property="sort" />
		<result column="version" property="version" />
		<result column="score" property="score" />
		<result column="logic_delete" property="logicDelete" />
		<result column="add_time" property="addTime" />
		<result column="update_time" property="updateTime" />
		<result column="quick_tag" property="quickTag" />
		<result column="editor_type" property="editorType" />
		<result column="icon_select" property="iconSelect" />
		<result column="icon_unselect" property="iconUnselect" />
		<result column="unique_key" property="uniqueKey" />
		<result column="is_required" property="isRequired" />
		<result column="min_length" property="minLength" />
		<result column="max_length" property="maxLength" />
		<result column="is_editor_required" property="isEditorRequired" />
		<result column="editor_min_length" property="editorMinLength" />
		<result column="editor_max_length" property="editorMaxLength" />
		<result column="editor_editor_type" property="editorEditorType" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, questionnaire_id AS questionnaireId, question_id AS questionId, question_item_type AS questionItemType, key, value, display, placeholder, row, column, is_show_editor AS isShowEditor, editor_placeholder AS editorPlaceholder, show_question_id AS showQuestionId, sort, version, score, logic_delete AS logicDelete, add_time AS addTime, update_time AS updateTime, quick_tag AS quickTag, editor_type AS editorType, icon_select AS iconSelect, icon_unselect AS iconUnselect, unique_key AS uniqueKey, is_required AS isRequired, min_length AS minLength, max_length AS maxLength, is_editor_required AS isEditorRequired, editor_min_length AS editorMinLength, editor_max_length AS editorMaxLength, editor_editor_type AS editorEditorType
    </sql>

</mapper>
