<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.youplus.apps.dao.auto.UpAppsQuestionnaireAttributeMapper">
<!-- 开启二级缓存 --><!-- 开启二级缓存 --><!-- 开启二级缓存 --><!-- 开启二级缓存 --><!-- 开启二级缓存 -->
	<!-- 开启二级缓存 -->
	<cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="cn.com.youplus.model.auto.entity.apps.UpAppsQuestionnaireAttribute">
		<result column="id" property="id" />
		<result column="questionnaire_id" property="questionnaireId" />
		<result column="data_type" property="dataType" />
		<result column="attribute_name" property="attributeName" />
		<result column="attribute_string_value" property="attributeStringValue" />
		<result column="attribute_long_value" property="attributeLongValue" />
		<result column="attribute_date_value" property="attributeDateValue" />
		<result column="attribute_time_value" property="attributeTimeValue" />
		<result column="attribute_datetime_value" property="attributeDatetimeValue" />
		<result column="attribute_double_value" property="attributeDoubleValue" />
		<result column="attribute_timestamp_value" property="attributeTimestampValue" />
		<result column="logic_delete" property="logicDelete" />
		<result column="add_time" property="addTime" />
		<result column="update_time" property="updateTime" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, questionnaire_id AS questionnaireId, data_type AS dataType, attribute_name AS attributeName, attribute_string_value AS attributeStringValue, attribute_long_value AS attributeLongValue, attribute_date_value AS attributeDateValue, attribute_time_value AS attributeTimeValue, attribute_datetime_value AS attributeDatetimeValue, attribute_double_value AS attributeDoubleValue, attribute_timestamp_value AS attributeTimestampValue, logic_delete AS logicDelete, add_time AS addTime, update_time AS updateTime
    </sql>

</mapper>
