<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.carry.tenants.dao.auto.CAnalyzedDataMapper">
<!-- 开启二级缓存 --><!-- 开启二级缓存 --><!-- 开启二级缓存 --><!-- 开启二级缓存 --><!-- 开启二级缓存 -->
	<!-- 开启二级缓存 -->
	<cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="cn.com.carry.model.auto.entity.tenants.CAnalyzedData">
		<id column="id" property="id" />
		<result column="supplier" property="supplier" />
		<result column="status" property="status" />
		<result column="suggest" property="suggest" />
		<result column="relieve_time" property="relieveTime" />
		<result column="add_time" property="addTime" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, supplier, status, suggest, relieve_time AS relieveTime, add_time AS addTime
    </sql>

</mapper>
