<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.youplus.notification.dao.auto.UpNotificationMessageQueueRecordMapper">
<!-- 开启二级缓存 --><!-- 开启二级缓存 --><!-- 开启二级缓存 --><!-- 开启二级缓存 --><!-- 开启二级缓存 -->
	<!-- 开启二级缓存 -->
	<cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="cn.com.youplus.model.auto.entity.notification.UpNotificationMessageQueueRecord">
		<id column="id" property="id" />
		<result column="message_id" property="messageId" />
		<result column="topic" property="topic" />
		<result column="producer" property="producer" />
		<result column="deliver_time" property="deliverTime" />
		<result column="consume_times" property="consumeTimes" />
		<result column="tag" property="tag" />
		<result column="body" property="body" />
		<result column="consume_result" property="consumeResult" />
		<result column="message_key" property="messageKey" />
		<result column="send_result" property="sendResult" />
		<result column="version" property="version" />
		<result column="logic_delete" property="logicDelete" />
		<result column="add_time" property="addTime" />
		<result column="update_time" property="updateTime" />
		<result column="send_result_json" property="sendResultJson" />
		<result column="consume_result_json" property="consumeResultJson" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, message_id AS messageId, topic, producer, deliver_time AS deliverTime, consume_times AS consumeTimes, tag, body, consume_result AS consumeResult, message_key AS messageKey, send_result AS sendResult, version, logic_delete AS logicDelete, add_time AS addTime, update_time AS updateTime, send_result_json AS sendResultJson, consume_result_json AS consumeResultJson
    </sql>

</mapper>
