<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://code.alibabatech.com/schema/dubbo 
		http://code.alibabatech.com/schema/dubbo/dubbo.xsd
		http://www.springframework.org/schema/beans  
		http://www.springframework.org/schema/beans/spring-beans.xsd 
		http://www.springframework.org/schema/context 
	 	http://www.springframework.org/schema/context/spring-context-4.1.xsd">

	<dubbo:reference  id="upBaseSystemConfigService"
					interface="cn.com.youplus.base.api.auto.UpBaseSystemConfigService"
					version="${dubbo.interface.version}"/>

	<dubbo:reference  id="messageQueueService"
					interface="cn.com.youplus.base.api.mq.MessageQueueService"
					version="${dubbo.interface.version}">
		<dubbo:method name="sendMqAsync" async="true" return="false"/>
	</dubbo:reference>

	<dubbo:reference  id="systemConfigService"
					  interface="cn.com.youplus.base.api.SystemConfigService"
					  version="${dubbo.interface.version}"/>

	<dubbo:reference  id="logHubService"
					  interface="cn.com.youplus.base.api.LogHubService"
					  version="${dubbo.interface.version}"/>

	<dubbo:reference  id="lhAnswerSheetService"
					interface="cn.com.youplus.base.api.LhAnswerSheetService"
					version="${dubbo.interface.version}"/>

</beans>
